##### step 1. load the iris.csv dataset.

##### 1. Write a Pandas program to get the data types of the given csv data (iris.csv ) fields

In [3]:
import numpy as np 
import pandas as pd### code here
df=pd.read_csv(r'C:\Users\pamar\Downloads\innomatics assignments\Pandas_assignment\Pandas_day_1\Iris.csv')
print(df.dtypes)
print(df.info())
print(df.head())

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

##### 2. Write a Pandas program to find the sum, mean, max, min value of 'SepalLengthCm' column of dataframe

In [4]:
### code here
sepal_length_sum = df['SepalLengthCm'].sum()
sepal_length_mean = df['SepalLengthCm'].mean()
sepal_length_max = df['SepalLengthCm'].max()
sepal_length_min = df['SepalLengthCm'].min()

print("Sum of 'SepalLengthCm':", sepal_length_sum)
print("Mean of 'SepalLengthCm':", sepal_length_mean)
print("Max value of 'SepalLengthCm':", sepal_length_max)
print("Min value of 'SepalLengthCm':", sepal_length_min)

Sum of 'SepalLengthCm': 876.5
Mean of 'SepalLengthCm': 5.843333333333335
Max value of 'SepalLengthCm': 7.9
Min value of 'SepalLengthCm': 4.3

##### 3. Write a Pandas program to import iris data and skipping first twenty rows into a Pandas dataframe.

In [6]:
### code here
df=pd.read_csv(r"C:\Users\pamar\Downloads\innomatics assignments\Pandas_assignment\Pandas_day_1\Iris.csv",skiprows=20)
print(df.head())

   20  5.1  3.8  1.5  0.3  Iris-setosa
0  21  5.4  3.4  1.7  0.2  Iris-setosa
1  22  5.1  3.7  1.5  0.4  Iris-setosa
2  23  4.6  3.6  1.0  0.2  Iris-setosa
3  24  5.1  3.3  1.7  0.5  Iris-setosa
4  25  4.8  3.4  1.9  0.2  Iris-setosa

##### 4. Write a Pandas program to display the last ten rows.

In [7]:
### code here
df.tail(10)

      20  5.1  3.8  1.5  0.3     Iris-setosa
120  141  6.7  3.1  5.6  2.4  Iris-virginica
121  142  6.9  3.1  5.1  2.3  Iris-virginica
122  143  5.8  2.7  5.1  1.9  Iris-virginica
123  144  6.8  3.2  5.9  2.3  Iris-virginica
124  145  6.7  3.3  5.7  2.5  Iris-virginica
125  146  6.7  3.0  5.2  2.3  Iris-virginica
126  147  6.3  2.5  5.0  1.9  Iris-virginica
127  148  6.5  3.0  5.2  2.0  Iris-virginica
128  149  6.2  3.4  5.4  2.3  Iris-virginica
129  150  5.9  3.0  5.1  1.8  Iris-virginica

##### 5. Write a Pandas program to create a subtotal of "PetalLengthCm" against Species from the dataframe.

In [10]:
### code here
subtotal = df.groupby('Species')['PetalLengthCm'].sum()
print(subtotal)

KeyError: 'Species'

###### 6. Write a Pandas program to find details where "PetalLengthCm" > 2.

In [15]:
### code here
df[df['PetalLengthCm'] > 2]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
50             7.0           3.2            4.7           1.4  Iris-versicolor
51             6.4           3.2            4.5           1.5  Iris-versicolor
52             6.9           3.1            4.9           1.5  Iris-versicolor
53             5.5           2.3            4.0           1.3  Iris-versicolor
54             6.5           2.8            4.6           1.5  Iris-versicolor
..             ...           ...            ...           ...              ...
145            6.7           3.0            5.2           2.3   Iris-virginica
146            6.3           2.5            5.0           1.9   Iris-virginica
147            6.5           3.0            5.2           2.0   Iris-virginica
148            6.2           3.4            5.4           2.3   Iris-virginica
149            5.9           3.0            5.1           1.8   Iris-virginica

[100 rows x 5 columns]

###### 7. Write a Pandas program find all records that include two specific Species.

In [17]:
### code here
records = df[(df['Species'] == "Iris-setosa") | (df['Species'] == "Iris-virginica")]

print(records)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[100 rows x 5 columns]

###### 8.  Write a Pandas program to sort the records by the SepalLengthCm column.

In [23]:
### code here
a=df.sort_values(by='SepalLengthCm', inplace=False)
a

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
13             4.3           3.0            1.1           0.1     Iris-setosa
42             4.4           3.2            1.3           0.2     Iris-setosa
38             4.4           3.0            1.3           0.2     Iris-setosa
8              4.4           2.9            1.4           0.2     Iris-setosa
41             4.5           2.3            1.3           0.3     Iris-setosa
..             ...           ...            ...           ...             ...
122            7.7           2.8            6.7           2.0  Iris-virginica
118            7.7           2.6            6.9           2.3  Iris-virginica
117            7.7           3.8            6.7           2.2  Iris-virginica
135            7.7           3.0            6.1           2.3  Iris-virginica
131            7.9           3.8            6.4           2.0  Iris-virginica

[150 rows x 5 columns]

##### 9. Write a Pandas program to insert a column in the sixth position of dataframe and fill it with NaN values.

In [55]:
### code here
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [56]:
df.insert(5, "new_column", np.nan)
df.head()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,new_column
0,5.1,3.5,1.4,0.2,Iris-setosa,NaN
1,4.9,3.0,1.4,0.2,Iris-setosa,NaN
2,4.7,3.2,1.3,0.2,Iris-setosa,NaN
3,4.6,3.1,1.5,0.2,Iris-setosa,NaN
4,5.0,3.6,1.4,0.2,Iris-setosa,NaN

##### 10. Write a Pandas program to add summation to a row of the dataframe.

In [60]:
### code here
df['sum'] = df.sum(axis=1)
df.head()

C:\Users\pamar\AppData\Local\Temp\ipykernel_21908\3196531010.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['sum'] = df.sum(axis=1)

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,new_column,sum
0,5.1,3.5,1.4,0.2,Iris-setosa,NaN,10.2
1,4.9,3.0,1.4,0.2,Iris-setosa,NaN,9.5
2,4.7,3.2,1.3,0.2,Iris-setosa,NaN,9.4
3,4.6,3.1,1.5,0.2,Iris-setosa,NaN,9.4
4,5.0,3.6,1.4,0.2,Iris-setosa,NaN,10.2